<nav class="top-navbar">

    <div class="nav-left">

        <div class="nav-breadcrumb">
            <span id="nav-library-name" class="parent-route"></span>
        </div>

    </div>

    <div class="nav-right">

        <div class="system-status-indicator">
            <span class="status-dot online"></span>
            <span class="status-text">Online</span>
        </div>

        <button id="admin-logout-btn" class="btn-mgr-logout">
            Exit
        </button>

    </div>

</nav>
